@font-face {
    font-family: 'AppleSDGothicNeoB';
    src: url(../font/AppleSDGothicNeoB.ttf) format('truetype');
}
@font-face {
    font-family: 'SFPro-Text';
    src: url(../font/SF-Pro-Text-Bold.otf) format('truetype');
}